@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@theme {
  --color-primary: #48a6a7;
  --color-secondary: #9acbd0;
  --color-background: #f2efe7;
  --color-text: #006a71;
}
